
<div class="main-auth-container">
  <div class="auth-background-image"></div>
  <mat-card class="auth-card">
    <mat-card-header class="logo-container">
      <div class="logo"><img src="../../../assets/logo_hd.svg"></div>
      <p>GST Number- 29GGGGG1314R9Z6</p>
    </mat-card-header>

    <div class="title">
      Bank Details
    </div>
      <div class="auth-form-container">
        <form>
            <div class="gst-name-input-container">
              <input placeholder="GST Number">
            </div>
            <div class="account-holder-name-input-container">
              <input placeholder="Account Holder">
            </div>
            <div class="bank-input-container">
              <input placeholder="Bank Name">
            </div>
            <div class="account-number-input-container">
              <input placeholder="Account Number">
            </div>
            <div class="confirm-account-number-input-container">
              <input placeholder="Confirm Account Number">
            </div>
            <div class="ifsc-input-container">
              <input placeholder="IFSC Code">
            </div>
            <div class="upload-main-container">
              <div class="pan-input-container">
                <input placeholder="PAN">
              </div>
              <div class="tin-input-container">
                <input placeholder="TIN">
              </div>
              <div class="gst-input-container">
                <input placeholder="GST">
              </div>
            </div>
          <div class="btn">
            <button id="back-btn">BACK</button>
            <button id="continue-btn">CONTINUE</button>
          </div>
        </form>
      </div>
  </mat-card>

</div>
