<app-navbar></app-navbar>

<div class="title">My RFQs</div>

<div class="rfq-nav">
  <button class="RFQ-btn" (click)="onTabClick('RFQ1')" [class.selected]="selectedRFQ=== 'RFQ1'" >The Hardware Store</button>
  <button class="RFQ-btn" (click)="onTabClick('RFQ2')" [class.selected]="selectedRFQ=== 'RFQ2'">Yogi Hardware</button>
  <button class="RFQ-btn" (click)="onTabClick('RFQ3')" [class.selected]="selectedRFQ=== 'RFQ3'">Om Sai Hardware</button>
</div>
<div class="main-dashboard-container">
<div class="RFQ-container">
  <div class="PO-main-container">
    <div>
      <mat-card class="RFQ-PO-detail">
          <div class="company-name">Om Sai</div>
          <div class="address-container">
            <div class="address">
              <h4>Address</h4>
              <p>143, Sunehri Market, Atta Sector 18, Noida 201301</p>
            </div>
            <div class="gst">
              <span>GST: </span><p>11AKGTP7658N1JK</p><div> 0120 7654753</div><div> +91 86435 76543</div>
            </div>
          </div>
          <div class="PO-table">
              <div class="rfq-status-nav-main-container">
              </div>
              <table mat-table [dataSource]="dataSource" matSort>

                <!-- ID Column -->
                <ng-container matColumnDef="Item">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-title"> Item </th>
                  <td mat-cell *matCellDef="let row"> {{row.item}} </td>
                </ng-container>

                <!-- Progress Column -->
                <ng-container matColumnDef="Brand">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-title"> Brand </th>
                  <td mat-cell *matCellDef="let row"> {{row.brand}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="Price">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-title"> Price </th>
                  <td mat-cell *matCellDef="let row"> {{row.price}} </td>
                </ng-container>

                <!-- Fruit Column -->
                <ng-container matColumnDef="Qty">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-title"> Qty </th>
                  <td mat-cell *matCellDef="let row"> {{row.qty}} </td>
                </ng-container>
                <ng-container matColumnDef="Amount">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-title"> Amount </th>
                  <td mat-cell *matCellDef="let row"> {{row.amount}} </td>
                </ng-container>

                <!-- Header and Row Definitions -->
              <tr mat-header-row *matHeaderRowDef="displayedColumns" class="header-row"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

              </table>

              <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>


          </div>
          <!-- <div class="btn-container">
            <div class="btn-sub-container1">
              <button id="add-item-btn" class="white-btn">ADD ITEM</button>
            </div>
            <div class="btn-sub-container2">
              <button id="approval-btn" class="blue-btn">SEND FOR APPROVAL</button>
              <button id="issue-po-btn" class="white-btn">ISSUE PO</button>
            </div>
          </div> -->
      </mat-card>
    </div>
    </div>

    <div class="PO-status">
      <mat-card class="PO-status-card">
        <div class="status-div">
          <div id="status-title">Status</div>
        <div class="status-container">
          <div class="check-btn-container">
            <img class="check-btn" src="../../../assets/green-check-btn.svg" *ngIf="isTransitCompleted">
            <img class="check-btn" src="../../../assets/grey-check-btn.svg" *ngIf="!isTransitCompleted">
          </div>
        <div class="status" id="transit-status">
          <div class="status-name">Transit</div>
          <p>Material shipped at 15:35Hrs, on 09-08-2023 Truck Number UP16-7362</p>
        </div>
        </div>
        <div class="status-container">
          <div class="check-btn-container">
            <img class="check-btn" src="../../../assets/green-check-btn.svg" *ngIf="isDelivered">
            <img class="check-btn" src="../../../assets/grey-check-btn.svg" *ngIf="!isDelivered">
          </div>
          <div class="status" id="deliver-status">
            <div>Deliver</div>
            <p>Delivered at site at 16:56 Hrs, on 09-08-2023 Received by Kamal Upadhyay</p>
          </div>
        </div>
        <div class="status-container">
          <div class="check-btn-container">
            <img class="check-btn" src="../../../assets/green-check-btn.svg" *ngIf="isInvoiceGenerated">
            <img class="check-btn" src="../../../assets/grey-check-btn.svg" *ngIf="!isInvoiceGenerated">
          </div>
          <div class="status" id="invoice-status">
            <div class="status-name">Invoice</div>
            <p>Invoice generated at 16:56 Hrs, on 09-08-2023</p>
          </div>
        </div>
        <div class="status-container">
          <div class="check-btn-container">
            <img class="check-btn" src="../../../assets/green-check-btn.svg" *ngIf="isThreeWayMatchCompleted">
            <img class="check-btn" src="../../../assets/grey-check-btn.svg" *ngIf="!isThreeWayMatchCompleted">
          </div>
          <div class="status" id="3-way-match-status">
            <div class="status-name">3 Way Match</div>
          </div>
        </div>
        <div class="status-container">
          <div class="check-btn-container">
            <img class="check-btn" src="../../../assets/green-check-btn.svg" *ngIf="isPaymentProcessing">
            <img class="check-btn" src="../../../assets/grey-check-btn.svg" *ngIf="!isPaymentProcessing">
          </div>
          <div class="status" id="invoice-status">
            <div class="status-name">Payment Processing</div>
            <p>Process Started at 10:00 Hrs, on 10-08-2023 By Kamal Upadhyay</p>
          </div>
        </div>
        <div class="status-container">
          <div class="check-btn-container">
            <img class="check-btn" src="../../../assets/green-check-btn.svg" *ngIf="isPaymentCollected">
            <img class="check-btn" src="../../../assets/grey-check-btn.svg" *ngIf="!isPaymentCollected">
          </div>
          <div class="status" id="invoice-status">
            <div class="status-name">Payment Collected</div>
          </div>
        </div>
        <div class="status-container">
          <div class="check-btn-container">
            <img class="check-btn" src="../../../assets/green-check-btn.svg" *ngIf="isOrderCompleted">
            <img class="check-btn" src="../../../assets/grey-check-btn.svg" *ngIf="!isOrderCompleted">
          </div>
          <div class="status" id="invoice-status">
            <div class="status-name">Order Complete</div>
          </div>
        </div>
        </div>
      </mat-card>
    </div>
</div>
</div>
