
<div class="main-auth-container">
  <div class="auth-background-image"></div>
  <mat-card class="auth-card">
    <mat-card-header class="logo-container">
      <div class="logo"><img src="../../../assets/logo_hd.svg"></div>
    </mat-card-header>

    <div class="title">
      Add Users
    </div>
      <div class="auth-form-container">
        <form>
            <div class="add-user-main-container">
              <div>
                <div>Name</div>
                <div>
                  <input value="Pinki Mistri">
                </div>
              </div>
              <div>
                <div>Email</div>
                <div>
                  <input value="Pinki Mistri">
                </div>
              </div>
              <div>
                <div>Phone</div>
                <div>
                  <input value="Pinki Mistri">
                </div>
              </div>
              <div>
                <div>Password</div>
                <div>
                  <input value="Pinki Mistri">
                </div>
              </div>
              <div>
                <div>Function</div>
                <div>
                  <input value="Pinki Mistri">
                </div>
              </div>
              <div>
                <div class="hidden-text">No Text</div>
                <div>
                  <img src="../../../../assets/add-user-icon.svg">
                </div>
              </div>
            </div>
          <div class="btn">
            <button id="back-btn">BACK</button>
            <button id="continue-btn">CONTINUE</button>
          </div>
        </form>
      </div>
  </mat-card>
</div>

