
<div class="main-auth-container">
  <div class="auth-background-image"></div>
  <mat-card class="auth-card">
    <mat-card-header class="auth-header">
      <div class="logo"><img src="../../../assets/logo_hd.svg"></div>
    </mat-card-header>

  <div class="auth-title">
    <div id="welcome-text">Welcome Back!</div>
    <div id="signin-text">Sign in to continue to PRISM.</div>
  </div>
      <div class="auth-form-container">
        <form>
          <select class="auth-select-element">
            <option>Select Role</option>
            <option>Seller</option>
            <option>Buyer</option>
          </select>

            <input class="input-container" id="email-input" type="email" placeholder="Email">

            <input class="input-container" id="password-input" type="password" placeholder="Password">
            <div class="forget-password">
              <mat-checkbox class="remember-me-text" [color]="color">Remember me</mat-checkbox>
              <span><a>Forgot Password</a></span>
            </div>
          <div class="btn"><button>LOG IN</button></div>
        </form>
        <div class="auth-notification">
          <p>Don’t have an account? <a>Sign up for free</a></p>
        </div>
      </div>
  </mat-card>

</div>
