
<div class="main-auth-container">
  <div class="auth-background-image"></div>
  <mat-card class="auth-card">
    <mat-card-header class="auth-header">
      <div class="logo"><img src="../../../assets/logo_hd.svg"></div>
    </mat-card-header>

  <div class="auth-title">
    <div id="welcome-text">Welcome Back!</div>
    <div id="signin-text">Sign in to continue to PRISM.</div>
  </div>
      <div class="auth-form-container">
        <div class="error-container" *ngIf="isErrorFound">{{errorMessage}}</div>
        <form #login="ngForm" (ngSubmit)="onLogin(login)">
          <select class="auth-select-element" name="memberTypeId" ngModel>
            <option value="">Select Role</option>
            <option *ngFor="let memberType of memberTypes" [value]="memberType.id" >{{ memberType.type }}</option>
          </select>
          <div class="contact-number-container">
            <select class="phone-select" name="countryCode" [ngModel]="91">
              <option [ngValue]="91" sele><img src="../../../assets/nation-flag.svg">+91</option>
            </select>
            <input class="phone-input" placeholder="Phone" name="phoneNumber" ngModel>
          </div>
            <input class="input-container" id="password-input" type="password" name="password" placeholder="Password" ngModel>
            <div class="forget-password">
              <mat-checkbox class="remember-me-text" [color]="color">Remember me</mat-checkbox>
              <span><a>Forgot Password</a></span>
            </div>
          <div class="btn"><button>LOG IN</button></div>
        </form>
        <div class="auth-notification">
          <p>Don’t have an account? <a>Sign up for free</a></p>
        </div>
      </div>
  </mat-card>

</div>
