.nav-main-container {
display: flex;
background-color: #000000;
align-items: center;
justify-content: space-between;
height: 4rem;
padding: 0 6rem;
}

.nav-right-section {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.profile-img img {
  width: 50%;
  height: auto;
}
