
<div class="main-auth-container">
  <div class="auth-background-image"></div>
  <mat-card class="auth-card">
    <mat-card-header class="logo-container">
      <div class="logo"><img src="../../../assets/logo_hd.svg"></div>
    </mat-card-header>

    <div class="title">
      Society Details
    </div>
      <div class="auth-form-container">
        <form>
            <div class="society-name-input-container">
              <input placeholder="Society Name">
            </div>
            <div class="address-input-container">
              <textarea placeholder="Address"></textarea>
            </div>
            <div class="address-subpart-input-container">
              <select>
                <option>State</option>
                <option>State1</option>
              </select>
              <select>
                <option>City</option>
                <option>City1</option>
              </select>
              <input placeholder="Pin Code">
            </div>
            <div class="contact-input-container">
              <input placeholder="Contact Number">
            </div>
            <div class="email-input-container">
              <input placeholder="Email Address">
            </div>
            <div class="account-holder-name-input-container">
              <input placeholder="Admin Name">
            </div>
            <div class="upload-main-container">
              <div class="pan-input-container">
                <input placeholder="PAN">
              </div>
              <div class="tin-input-container">
                <input placeholder="TIN">
              </div>
              <div class="gst-input-container">
                <input placeholder="GST">
              </div>
            </div>
          <div class="btn">
            <button class="white-btn">BACK</button>
            <button class="blue-btn">CONTINUE</button>
          </div>
        </form>
      </div>
  </mat-card>

</div>
