<app-navbar></app-navbar>
<div class="title-container">
  <div class="title">
    <h2>RFQs</h2>
    <span id="dashboard-text">Dashboard/My RFQs</span><span id="rfq-text">/Create RFQ</span>
  </div>
    <div><button class="download-template-btn">DOWNLOAD TEMPLATE</button></div>
</div>

<div class="main-create-rfq-container">
  <mat-card class="create-rfq-card">
<div class="create-rfq-form">
  <form>
    <input placeholder="RFQ Name">
    <div class="date-container">
      <div id="quote-date"><input placeholder="Quote Date"></div>
    <div id="expected-delivery-date"><input placeholder="Expected Delivery Date"></div>
    </div>
    <input placeholder="Payment Terms">
    <textarea placeholder="Description"></textarea>
    <div class="choose-file-container">
      <div id="choose-file-input"><input placeholder="Choose File"></div>
      <div class="file-select-source"></div>
    </div>
  </form>
</div>
  </mat-card>

</div>

