<app-navbar></app-navbar>
<div class="main-dashboard-container">
<div class="dashboard-container">
  <div class="RFQ-main-container">
    <div class="title">RFQs</div>
    <div>
      <mat-card>
          <!-- <mat-list-item class="item-container"> -->
           <div class="RFQ-container">
            <div class="RFQ-id-section">
              <div class="only-RFQ-id">
                <div class="green-bullet"></div>
                <span id="RFQ-id">RFQ0001</span>
              </div>
              <div id="lowest-bid-text">lowest bid for 4 items</div>
            </div>
            <div class="item-name">Electrical Goods</div>
            <div class="bid-info">
              <div class="bid-count">
                <img src="../../../assets/bid-icon.svg">
                <span>2 New Bids</span>
              </div>
              <div class="expiry-detail">
                <img src="../../../assets/expire-icon.svg">
                <span>Expires in 3 days</span>
              </div>
            </div>
           </div>
          <!-- </mat-list-item> -->
          <mat-divider class="divider"></mat-divider>
          <div class="RFQ-container">
            <div class="RFQ-id-section">
              <div class="only-RFQ-id">
                <div class="green-bullet"></div>
                <span id="RFQ-id">RFQ0001</span>
              </div>
              <div id="lowest-bid-text">lowest bid for 4 items</div>
            </div>
            <div class="item-name">Electrical Goods</div>
            <div class="bid-info">
              <div class="bid-count">
                <img src="../../../assets/bid-icon.svg">
                <span>4 New Bids</span>
              </div>
              <div class="expiry-detail">
                <img src="../../../assets/expire-icon.svg">
                <span>Expires in 3 days</span>
              </div>
            </div>
           </div>

      </mat-card>
    </div>
  </div>
  <div class="PO-main-container">
    <div class="title">Purchase Orders</div>
    <div>
      <mat-card>
          <div class="PO-container">
            <div class="PO-RFQ-id">
              <div class="green-bullet"></div>
              <span id="PO-id">PO0001</span><span id="RFQ-id-part">/ RFQ9384</span>
            </div>
            <div class="item-name">Flooring for Skating Rink</div>
            <div class="company-info">
                <img src="../../../assets/company-icon.svg">
                <span id="company-name">Hari Om Hardware Store</span>
              </div>
            <div class="approver-info">
                <img src="../../../assets/approver-check-icon.svg">
                <span id="approver-name">Approved by Durgesh</span>
              </div>
           </div>
          <mat-divider class="divider"></mat-divider>
          <div class="PO-container">
            <div class="PO-RFQ-id">
              <div class="green-bullet"></div>
              <span id="PO-id">PO0001</span><span id="RFQ-id-part">/ RFQ9384</span>
            </div>
            <div class="item-name">Flooring for Skating Rink</div>
            <div class="company-info">
                <img src="../../../assets/company-icon.svg">
                <span id="company-name">Hari Om Hardware Store</span>
              </div>
            <div class="approver-info">
                <img src="../../../assets/approver-check-icon.svg">
                <span id="approver-name">Approved by Durgesh</span>
              </div>
           </div>
          <mat-divider class="divider"></mat-divider>
          <div class="PO-container">
            <div class="PO-RFQ-id">
              <div class="green-bullet"></div>
              <span id="PO-id">PO0001</span><span id="RFQ-id-part">/ RFQ9384</span>
            </div>
            <div class="item-name">Flooring for Skating Rink</div>
            <div class="company-info">
                <img src="../../../assets/company-icon.svg">
                <span id="company-name">Hari Om Hardware Store</span>
              </div>
            <div class="approver-info">
                <img src="../../../assets/approver-check-icon.svg">
                <span id="approver-name">Approved by Durgesh</span>
              </div>
           </div>
          <mat-divider class="divider"></mat-divider>
          <div class="PO-container">
            <div class="PO-RFQ-id">
              <div class="green-bullet"></div>
              <span id="PO-id">PO0543</span><span id="RFQ-id-part">/ RFQ0002</span>
            </div>
            <div class="item-name">MCBs ad RCCBs</div>
            <div class="company-info">
                <img src="../../../assets/company-icon.svg">
                <span id="company-name">Hari Om Hardware Store</span>
              </div>
            <div class="approver-info">
                <img src="../../../assets/approver-check-icon.svg">
                <span id="approver-name">Approved by Durgesh</span>
              </div>
           </div>

      </mat-card>
    </div>
  </div>
  <div class="payments-main-container">
    <div class="title">Payments</div>
    <div>
      <mat-card>
          <div class="payments-container">
            <div class="PO-RFQ-id">
              <div class="green-bullet"></div>
              <span id="PO-id">PO0001</span><span id="RFQ-id-part">/ RFQ9384</span>
            </div>
            <div class="item-name">Flooring for Skating Rink</div>
            <div class="company-info">
                <img src="../../../assets/company-icon.svg">
                <span id="company-name">Hari Om Hardware Store</span>
              </div>
            <div class="payment-status-info">
                <img src="../../../assets/rupee-icon.svg">
                <span id="payment-status">Advance Payment Requested</span>
              </div>
           </div>
          <mat-divider class="divider"></mat-divider>
          <div class="payments-container">
            <div class="PO-RFQ-id">
              <div class="green-bullet"></div>
              <span id="PO-id">PO0543</span><span id="RFQ-id-part">/ RFQ0002</span>
            </div>
            <div class="item-name">MCBs ad RCCBs</div>
            <div class="company-info">
                <img src="../../../assets/company-icon.svg">
                <span id="company-name">Hari Om Hardware Store</span>
              </div>
            <div class="payment-status-info">
                <img src="../../../assets/rupee-icon.svg">
                <span id="payment-status">Bill Received</span>
              </div>
           </div>

      </mat-card>
    </div>
  </div>
</div>
</div>
