<div class="main-auth-container">
  <div class="auth-background-image"></div>
  <mat-card class="auth-card">
    <mat-card-header class="auth-header">
      <div class="logo"><img src="../../../assets/logo_hd.svg"></div>
    </mat-card-header>
    <div id="spinLoader">
      <app-loader *ngIf="isLoading"></app-loader>
    </div>
      <div class="auth-form-container">
        <div class="error-container" *ngIf="isErrorFound || !isSignedUp">{{errorMessage}}</div>
        <form  #signup="ngForm" (ngSubmit)="onSignUp(signup)">
          <select class="auth-select-element" name="memberTypeId" ngModel>
            <option value="">Select Role</option>
            <option *ngFor="let memberType of memberTypes" [value]="memberType.id" >{{ memberType.type }}</option>
          </select>
          <div class="contact-number-container">
            <select class="phone-select" name="countryCode" [ngModel]="91">
              <option [ngValue]="91" sele><img src="../../../assets/nation-flag.svg">+91</option>
            </select>
            <input class="phone-input" placeholder="Phone" name="phoneNumber" ngModel>
          </div>
          <button>SEND OTP</button>
        </form>
        <div class="auth-notification">
          <p>Already a member?<a>Sign in here</a></p>
        </div>
      </div>
  </mat-card>

</div>
