
.main-auth-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.auth-card {
  width: 72.75rem;
  height: 35rem;
  border-radius: 2rem;
}
.logo-container {
  display: flex;
  justify-content: end;
}
.logo img {
  width: 9rem;

}
.role-notification {
  margin-left: 4rem;
}
.role-notification #role {
  font-size: 1.625rem;
  font-weight: 300;
}
.gst-form {
  display: flex;
  justify-content: center;
}
.auth-form-container {
  width: 49rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}


form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-number-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 22.33rem;
}
/* Style to remove the increase/decrease buttons in Chrome and Safari */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Style to remove the increase/decrease buttons in Firefox */
/* input[type="number"] {
    -moz-appearance: textfield;
} */

button{
  width: 15rem;
  height: 2.5rem;
  border-radius: 2rem;
  margin-top: 2rem;
  background-color: #00ADEF;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0.08rem;
}

p {
  margin-top: 2rem;
  font-weight: 300;
  font-size: 0.875rem;
}
p a {
  font-weight: 500;
  color: #0873BB;
  cursor: pointer;
}

.gst-input-container {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}
.gst-input {
width: 5.5%;
height: 2.5rem;
outline: none;
border: 1px solid #DEDEDE;
border-radius: 0.25rem;
background-color: #FBFBFD;
}




