
<div class="main-auth-container">
  <div class="auth-background-image"></div>
  <mat-card class="auth-card">
    <mat-card-header class="logo-container">
      <div class="logo"><img src="../../../assets/logo_hd.svg"></div>
    </mat-card-header>

      <div class="role-notification">
        <p id="role">Enter GST Number</p>
      </div>
      <mat-card-content class="gst-form">
        <div class="auth-form-container">

          <form>
            <div class="gst-input-container">
              <input class="gst-input" pattern="\d" maxlength="1" inputmode="numeric">
              <input class="gst-input" pattern="\d" maxlength="1" inputmode="numeric">
              <input class="gst-input" pattern="\d" maxlength="1" inputmode="numeric">
              <input class="gst-input" pattern="\d" maxlength="1" inputmode="numeric">
              <input class="gst-input" pattern="\d" maxlength="1" inputmode="numeric">
              <input class="gst-input" pattern="\d" maxlength="1" inputmode="numeric">
              <input class="gst-input" pattern="\d" maxlength="1" inputmode="numeric">
              <input class="gst-input" pattern="\d" maxlength="1" inputmode="numeric">
              <input class="gst-input" pattern="\d" maxlength="1" inputmode="numeric">
              <input class="gst-input" pattern="\d" maxlength="1" inputmode="numeric">
              <input class="gst-input" pattern="\d" maxlength="1" inputmode="numeric">
              <input class="gst-input" pattern="\d" maxlength="1" inputmode="numeric">
              <input class="gst-input" pattern="\d" maxlength="1" inputmode="numeric">
              <input class="gst-input" pattern="\d" maxlength="1" inputmode="numeric">
              <input class="gst-input" pattern="\d" maxlength="1" inputmode="numeric">
          </div>
            <button>VERIFY AND CONTINUE</button>
          </form>
          <div class="auth-notification">
            <p><a>Register Without GST Number</a></p>
          </div>
        </div>
      </mat-card-content>
  </mat-card>

</div>
